
/* General */
.body {
    font-family: Georgia;
}

h1 {
    font-size: 40px;
    text-align: center;
}

/* Line chart */
.trend-line {
    stroke: #091F2F;
    fill: None;
    stroke-width: 2;
}

.policy-line {
    stroke: #F84D42;
    fill: None;
    stroke-width: 2;
    stroke-dasharray: 2;
}

.trend-circle {
    fill: #288BE4;
}

.trend-circle:hover {
    fill: #F84D42;
}

.policy-circle {
    fill: #F84D42;
}

.policy-circle:hover {
    fill: white;
    stroke: #091F2F;
}

.trend-tip {
    line-height: 1;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 2px;
}

.policy-tip {
    line-height: 1;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #F84D42;
    border-radius: 2px;
}